#__nuxt {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 0;
    scroll-behavior: smooth;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.v-list-item--nav .v-list-item-title {
  font-size: 1.2rem !important;
}

.v-navigation-drawer__content {
  .v-list-item__prepend {
    i {
      margin-inline-end: auto;
    }
  }
}
