<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="en-US"
    layout:decorate="~{admin/layouts/layout}">

<head>
    <title>Pages</title>
</head>

<body>
    <div layout:fragment="content">

        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Pages List</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">

                <div class="alert-info alert" th:if="${pages.size<=0}">
                    <p>No pages added yet</p>
                </div>

                <th:block th:if="${pages.size > 0}">
                    <p class="card-text" th:text="${message}" th:if="${message}">message</p>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Title</th>
                                <th scope="col">Excerpt</th>
                                <th scope="col">Slug</th>
                                <th scope="col">Published?</th>
                                <th scope="col">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="page, indx : ${pages}">
                                <th scope="row" th:text="${page.id}">#</th>
                                <td class="w-50" th:text="${page.title}">title</td>
                                <td th:text="${page.excerpt}">content</td>
                                <td th:text="${page.slug}">slug</td>
                                <td th:text="${(page.published) ? 'Published' : 'Unpublished'}">published</td>
                                <td>
                                    <a th:href="@{/admin/pages/edit/{id}(id=${page.id})}" class="btn btn-primary">Edit</a>
                                    <a th:href="@{/admin/pages/delete/{id}(id=${page.id})}" class="btn btn-danger">Delete</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </th:block>
            </div>
        </div>

        <div class="my-3">
            <a href="/admin/pages/new" class="btn btn-primary">New Page</a>
        </div>
    </div>
</body>

</html>