<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="en-US">

<head th:fragment="common_header">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/webjars/bootstrap-icons/1.10.3/font/bootstrap-icons.css}" rel="stylesheet">
    <!-- Common styles and scripts -->
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/main/css/styles.css}">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/main/css/admin_styles.css}">
    <link rel="shortcut icon" th:href="@{/images/favicon.ico}">

    
    <th:block th:if="${titletag}">
        <th:block th:replace="${titletag}" />
    </th:block>
    <th:block th:unless="${titletag}">
        <title th:text="${title}">Ari Adari</title>
    </th:block>

    <!--/* Per-page placeholder for additional links */-->
    <th:block th:if="${links}">
        <th:block th:replace="${links}" />
    </th:block>

</head>

<body>
    
    <header class="w-100 text-bg-secondary text-seconday p-2 d-flex" th:fragment="header">
        <button class="btn btn-primary m-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#pageOffCanvas" aria-controls="pageOffCanvas">
            Menu
        </button>
        <h1>Admin
            <th:block th:if="${page_title}">
                :
                <span th:remove="tag" th:text="${page_title}"></span>
            </th:block>
        </h1>
    </header>
    <div 
        class="offcanvas offcanvas-start bg-dark text-light"
        data-bs-scroll="true"
        data-bs-backdrop="true"
        tabindex="-1"
        id="pageOffCanvas"
        aria-labelledby="offcanvasLabel"
        th:fragment="sidebar"
    >
        <div class="offcanvas-header border-bottom">
            <h3 class="offcanvasLabel">
                <i class="bi bi-menu-app text-fill"></i>
                Menu
            </h3>
        </div>
        <div class="offcanvas-body px-0">
            <nav class="sideNavbar navbar-dark h-100">
                <div class="navbar-nav">
                    <div class="navbar-item">
                        <a th:href="@{/admin}" class="link-light" th:classappend="${currentPage == 'index' ? 'active' : ''}">
                            <i class="bi bi-house-door-fill"></i>
                            <span>Dashboard</span>
                        </a>
                    </div>
                    <div class="navbar-item nav-link">
                        <a th:href="@{/admin/pages}" class="link-light" th:classappend="${currentPage == 'pages' ? 'active' : ''}">
                            <i class="bi bi-file-earmark-fill"></i>
                            <span>Pages</span>
                        </a>
                    </div>
                    <!--
                    <div class="navbar-item">
                        <a href="/admin/users" class="sideNavbar__link">
                            <i class="bi bi-people-fill"></i>
                            <span>Users</span>
                        </a>
                    </div>
                    <div class="navbar-item">
                        
                        <a href="/admin/roles" class="sideNavbar__link">
                            <i class="bi bi-shield-lock-fill"></i>
                            <span>Roles</span>
                        </a>
                    </div>
                    <div class="navbar-item">
                        <a href="/admin/permissions" class="sideNavbar__link">
                            <i class="bi bi-shield-lock-fill"></i>
                            <span>Permissions</span>
                        </a>
                    </div>-->
        
                </div>
            </nav>
        </div>
    </div>
    <main class="w-80 text-bg-secondary text-seconday p-2" th:fragment="main">
        <th:block th:replace="${content}"></th:block>
    </main>
    
    <footer th:fragment="footer">
        
        <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
        <script th:src="@{/webjars/tinymce.js}"></script>
        
    </footer>

</body>

</html>