<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="en-US">

<head th:replace="~{fragments/common :: common_header(title='Spring Security Example')}">
    <title>#{headers.user-registration} </title>
</head>

<body>
    <div class="container-fluid vh-100">
        <div class="row h-100 justify-content-center align-items-center text-bg-secondary text-secondary">
            <div class="col-lg-4 col-md-6 col-sm-8">
                <div class="card shadow-sm max-w-400 mx-auto px-2">
                    <div class="card-body">
                        <h5 th:text="#{user.user_registration}" class="card-title mb-4">Register</h5>
                        <form th:action="@{/register}" method="post" th:object="${user}">
                            <div th:if="${#fields.hasErrors('global')}" class="text-danger mb-3">
                                <p th:each="err : ${#fields.errors('global')}" th:text="${err}" class="error" />
                            </div>

                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" th:field="*{name}"
                                    th:placeholder="#{user.name}" th:errorclass="is-invalid">
                                <label for="name" th:text="#{user.name}">Name:</label>
                                <span class="invalid-feedback" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
                            </div>

                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" th:field="*{email}"
                                    th:placeholder="#{user.email}" th:errorclass="is-invalid">
                                <label for="email" th:text="#{user.email}">Email:</label>
                                <span class="invalid-feedback" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
                            </div>

                            <div class="form-floating mb-3">
                                <input type="text" class="form-control"
                                    th:field="*{username}" th:placeholder="#{common.username}" th:errorclass="is-invalid">
                                <label for="username" th:text="#{common.username}">Username:</label>
                                <span class="invalid-feedback" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span>
                            </div>

                            <div class="form-floating mb-3">
                                <input type="password" class="form-control" 
                                    th:field="*{password}" th:placeholder="#{common.password}" th:errorclass="is-invalid">
                                <label for="password" th:text="#{common.password}">Password:</label>
                                <span class="invalid-feedback" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
                            </div>

                            <div class="form-floating mb-3">
                                <input type="password" class="form-control" 
                                    th:field="*{confirmPassword}" th:placeholder="#{user.confirm_password}"
                                    th:errorclass="is-invalid">
                                <label for="confirmPassword" th:text="#{user.confirm_password}">Confirm
                                    Password:</label>
                                <span class="invalid-feedback" th:if="${#fields.hasErrors('confirmPassword')}"
                                    th:errors="*{confirmPassword}"></span>
                            </div>

                            <div class="text-center">
                                <button type="submit" th:text="#{user.register}"
                                    class="btn btn-primary w-100">Register</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>